<a href="https://colab.research.google.com/github/abril03-hervert/pandas/blob/main/VHA_2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
##universidad del mar##

#UNIVERSIDAD DEL MAR #
##CAMPUS PUERTO ANGEL##
##ALUMNA: ABRIL VARGAS HERVERT 
##GRUPO: 302 B
##ORDINARIO DE PROGRAMACION 
##3er PARCIAL

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
"""https://raw.githubusercontent.com/abril03-hervert/pandas/main/VHA2.csv"""
'https://raw.githubusercontent.com/abril03-hervert/pandas/main/VHA2.csv'

'https://raw.githubusercontent.com/abril03-hervert/pandas/main/VHA2.csv'

In [67]:
VHA_df = pd.read_csv('https://raw.githubusercontent.com/abril03-hervert/pandas/main/VHA2.csv')

In [68]:
VHA_df

      NOMBRE    APELLIDOS      SEXO   ...  3PARCIAL  ORDINARIO   PROMEDIO
0     ALICIA       BLANCO  FEMENINO   ...         1          6         NaN
1     ANTHONY     CABRERA  MASCULINO  ...         5          7         NaN
2       ISSAC        CRUZ  MASCULINO  ...         8          8         NaN
3      RAFAEL    ESPINOZA  MASCULINO  ...         8          5         NaN
4    SCARLETT    EZCURDIA  FEMENINO   ...         0          3         NaN
5     PAULINA      GARCIA  FEMENINO   ...        10          9         NaN
6       EDGAR      GARCIA  MASCULINO  ...         9          8         NaN
7      JOSSET  GUENDULAIN  FEMENINO   ...        10          7         NaN
8       DAVID   HERNANDEZ  MASCULINO  ...         7          5         NaN
9     NATALIA   HERNANDEZ  FEMENINO   ...        10          4         NaN
10   QUETZALI   HERNANDEZ  FEMENINO   ...         9          9         NaN
11      NOEMI    MARTINEZ  FEMENINO   ...         8          8         NaN
12   SAMANTA       MENDEZ  FEMENINO   ...        10          7         NaN
13      TANIA      MENDEZ  FEMENINO   ...         9          4         NaN
14   CAROLINA        MINA  FEMENINO   ...         0          3         NaN
15        ANA    MUNGUIRO  FEMENINO   ...         6          6         NaN
16    CITLALI       ORTIZ  FEMENINO   ...         0          8         NaN
17    ADRIANA     RAMIREZ  FEMENINO   ...         5          9         NaN
18    MARIANA     SARABIA  FEMENINO   ...        10          9         NaN
19  ALEJANDRA    SILICEO   FEMENINO   ...        10          9         NaN
20      ABRIL     HERVERT  FEMENINO   ...        10          9         NaN
21     DAYAMI     VARGAS   FEMENINO   ...        10          9         NaN
22  ZURISADAI      ZARATE  FEMENINO   ...         8          9         NaN

[23 rows x 8 columns]

In [ ]:
VHA_df['calificacion final'] = VHA_df [[' 1PRARCIAL ', ' 2PARCIAL ' , '3PARCIAL' , ' ORDINARIO ']].mean(axis=1)

In [77]:
VHA_df.head(23)

      NOMBRE    APELLIDOS      SEXO   ...  3PARCIAL  ORDINARIO   PROMEDIO
0     ALICIA       BLANCO  FEMENINO   ...         1          6         NaN
1     ANTHONY     CABRERA  MASCULINO  ...         5          7         NaN
2       ISSAC        CRUZ  MASCULINO  ...         8          8         NaN
3      RAFAEL    ESPINOZA  MASCULINO  ...         8          5         NaN
4    SCARLETT    EZCURDIA  FEMENINO   ...         0          3         NaN
5     PAULINA      GARCIA  FEMENINO   ...        10          9         NaN
6       EDGAR      GARCIA  MASCULINO  ...         9          8         NaN
7      JOSSET  GUENDULAIN  FEMENINO   ...        10          7         NaN
8       DAVID   HERNANDEZ  MASCULINO  ...         7          5         NaN
9     NATALIA   HERNANDEZ  FEMENINO   ...        10          4         NaN
10   QUETZALI   HERNANDEZ  FEMENINO   ...         9          9         NaN
11      NOEMI    MARTINEZ  FEMENINO   ...         8          8         NaN
12   SAMANTA       MENDEZ  FEMENINO   ...        10          7         NaN
13      TANIA      MENDEZ  FEMENINO   ...         9          4         NaN
14   CAROLINA        MINA  FEMENINO   ...         0          3         NaN
15        ANA    MUNGUIRO  FEMENINO   ...         6          6         NaN
16    CITLALI       ORTIZ  FEMENINO   ...         0          8         NaN
17    ADRIANA     RAMIREZ  FEMENINO   ...         5          9         NaN
18    MARIANA     SARABIA  FEMENINO   ...        10          9         NaN
19  ALEJANDRA    SILICEO   FEMENINO   ...        10          9         NaN
20      ABRIL     HERVERT  FEMENINO   ...        10          9         NaN
21     DAYAMI     VARGAS   FEMENINO   ...        10          9         NaN
22  ZURISADAI      ZARATE  FEMENINO   ...         8          9         NaN

[23 rows x 8 columns]

In [73]:
##¿CUAL ES LA CALIFICACION FINAL DEL GRUPO?
VHA_df[' PROMEDIO '].mean()

nan

In [ ]:
grouped_data = VHA_df.groupby('sexo')

In [82]:
##¿cuales son las estadisticas por sexo?
grouped_data

<bound method DataFrame.groupby of       NOMBRE    APELLIDOS      SEXO   ...  2PARCIAL   3PARCIAL  ORDINARIO
0     ALICIA       BLANCO  FEMENINO   ...          0         1           6
1     ANTHONY     CABRERA  MASCULINO  ...          8         5           7
2       ISSAC        CRUZ  MASCULINO  ...          8         8           8
3      RAFAEL    ESPINOZA  MASCULINO  ...          6         8           5
4    SCARLETT    EZCURDIA  FEMENINO   ...          2         0           3
5     PAULINA      GARCIA  FEMENINO   ...         10        10           9
6       EDGAR      GARCIA  MASCULINO  ...          5         9           8
7      JOSSET  GUENDULAIN  FEMENINO   ...         10        10           7
8       DAVID   HERNANDEZ  MASCULINO  ...          8         7           5
9     NATALIA   HERNANDEZ  FEMENINO   ...          9        10           4
10   QUETZALI   HERNANDEZ  FEMENINO   ...          7         9           9
11      NOEMI    MARTINEZ  FEMENINO   ...          9         8           8
12   SAMANTA       MENDEZ  FEMENINO   ...          8        10           7
13      TANIA      MENDEZ  FEMENINO   ...          9         9           4
14   CAROLINA        MINA  FEMENINO   ...          0         0           3
15        ANA    MUNGUIRO  FEMENINO   ...          6         6           6
16    CITLALI       ORTIZ  FEMENINO   ...          2         0           8
17    ADRIANA     RAMIREZ  FEMENINO   ...          5         5           9
18    MARIANA     SARABIA  FEMENINO   ...          9        10           9
19  ALEJANDRA    SILICEO   FEMENINO   ...         10        10           9
20      ABRIL     HERVERT  FEMENINO   ...         10        10           9
21     DAYAMI     VARGAS   FEMENINO   ...         10        10           9
22  ZURISADAI      ZARATE  FEMENINO   ...          8         8           9

[23 rows x 7 columns]>

In [84]:
##¿cual es la desviacion estandar del grupo?
VHA_df['calificacion final '].mean()

KeyError: ignored

In [86]:
##¿cual es la mayor calificacion final?
VHA_df['calificacion final'].max()

KeyError: ignored

##¿que tipo de datos contiene el data frame?
#surveys_df['record_id'].dtype
#surveys_df['sex'].dtye
#type(surveys_df)
#print